*.tar.gz

*.exe
*.pdb

# Local CMake build directories
build-*
src/bench/bench_navio
src/navio
src/naviod
src/navio-cli
src/navio-gui
src/navio-node
src/navio-staker
src/navio-tx
src/navio-util
src/navio-chainstate
src/navio-wallet
src/test/fuzz/fuzz
src/test/test_navio

.*.swp
*~
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat
*.tmp

*.log
*.trs
*.zip

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

# Compilation and Qt preprocessor part
*.qm
!depends/Makefile

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build
# vendored blst ships its pre-generated assembly under a directory named build
!src/blst/build/

# Previous releases
releases

# cargo default target dir
target/

#lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
total.coverage/
fuzz.coverage/
coverage_percent.txt
/cov_tool_wrapper.sh
qa-assets/

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
test/.mypy_cache/

/doc/doxygen/

contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist

osx_volname
dist/

/guix-build-*

/ci/scratch/

# ide related
.vscode
confdefs.h
.cache/
compile_commands.json

# others
null.d

/build*
build-test/
